name: doc_dev

on:
  push:
    branches:
      - dev
    tags: '*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install LaTeX for math support
        run: |
          sudo apt-get update
          sudo apt-get install texlive-science
      - name: generate doc
        run: |
          pip install -r requirements.txt
          pip install -r doc/requirements.txt
          cd doc/
          make html
          make linkcheck
          make doctest
